extends template
block nav
  nav
    +createMenu(dictMenu, 'Главная')

block content
  div.images
    each pict in listImages
      a(href= "building.html")
        img(src= require("../images/" + pict))
  article
    each item in listSections
      +createSection(item.header, item.image, item.text)
      
  table
    tr
      td 1
      td 2
      td 3
      td 4
      td 5
    tr
      td 6
      td 7
      td 8
      td 9
      td 10
    tr
      td 11
      td 12
      td 13
      td 14
      td 15